<div class="comprobante-container container">
        <div class="comprobante-header">Comprobante de Pago</div>
        <div class="comprobante-details">
            <p><strong>Fecha:</strong> {{this.fecha}}</p>
            <p><strong>Cliente:</strong> {{this.cliente}}</p>
            <p><strong>Cantidad:</strong> {{this.cantidad}}</p>
            <p><strong>Total:</strong> {{this.suma}}</p>
        </div>
        <div class="comprobante-total">Total a Pagar: {{this.suma}}</div>
    </div>